body{
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient( lightseagreen 0px, lightseagreen 158px, white 134px, white 104px, white, white, white, white, white);
   box-sizing: border-box;
   margin: 0;
}
.container
{
position: relative;
width: 1336px;
max-width: 100%;
height: calc(100vh - 40px);
background: white;
box-shadow: 0 1px 1px 0 black, 0 2px 5px 0 black;
display: flex;

}
.container .leftside
{
    position: relative;
    flex: 30%;
    background:whte;
}
.container .rightside{
    position: relative;
    flex: 70%;
    background:wheat;
    border-right: 1 px solid black;
}
.container .rightside::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://media.istockphoto.com/vectors/social-media-blue-seamless-pattern-vector-id690445882?k=20&m=690445882&s=612x612&w=0&h=Y8PXV590DeTKKuOdl5Nwc8xiTOW5Ty1iJfzUDTKjKgc=);
    opacity: 0.06;
}
.header{

    position: relative;
    width: 97%;
    height: 60px;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav_icons{
    display: grid;   
}
.search_chat{
  position: relative;
  width: 470%;
  height: 70px;
  background:green;
  display: flex;
  justify-content: center;
  align-items: center;
padding: 10px;
}
.search_chat div{
    width: 200%;
}
.search_chat div input{
    width: 100%;
    outline: none;
    border: none;
    background:green;
    padding: 6px;
    height: 35px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}
.search_chat div input::placeholder{
    color: wheat;
}
.chatlist{
    position: relative;
    height: calc(95% - 120px);
    overflow: auto;

}
.chatlist .block{
    position: relative;
    width: 90%;
    display: flex;
   
    align-items: center;
    padding: 15px ;
    border: 1 px solid black;
    cursor: pointer;
}
.chatlist .block .active{
    background: red;
}
.chatlist .block :hover{
    background: grey;
}
.chatlist .block .imgbx{
    position: relative;
    width: 45px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
    

}
.chatlist .block .details{
    position: relative;
    width: 100%;
}
.chatlist .block .details .listhead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.chatlist .block .details .listhead h4{
    font-size: 1.1em;
    font-weight: 600;
    color:black;
}
.chatlist .block .details .listhead .time {
font-size: 0.75em;
color: blue;
}
.chatlist .block .details .listhead .time {
    color:black;
}
.chatlist .block .unread .listhead .time {
color: blueviolet;
}
.message_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message_p p{
    color: green;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.message_p b{
    background: green;
    color: white;
    min-width: 15px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95em;

}
.imgText{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.imgText h4{
font-weight: 5;
line-height: 1.2em;
margin-left: 15px;
}
.imgText h4 span{
    font-size: 0.98em;
    color: green;
}
 
.chatbox {
    position: relative;
    width: 90%;
    height: calc(100% - 120px); 
    padding: 5px;
    overflow-y: auto;
    
}
.message{
    position: relative;
    display: flex;
    width: 95%;
    margin: 0px  6  ;
}
.message p{
    position: relative;
    right: 0;
    text-align: right;
    min-width: 20%;
    padding: 12px;
    background: white;
    border-radius: 10px;
    font-size: 0.9em;
}
.message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 30px;
    background:white;
}
.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0, 85em;
    opacity: 0.5;
}
.my_message{
    justify-content:flex-end ;
}
.frnd_message {
    justify-content: flex-start;
}
.frnd_message p{
    background: green;
    text-align: left;
}
.message.frnd_message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 8px;
    background: green;
}
.chatbox_input{
    position: relative;
    width: 80%;
    height: 10px;
    background: white;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
}
.chatbox_input ion-icons{
    cursor: pointer;
    font-size: 1.8em;
    color: black;
}
.chatbox_input ion-icons:nth-child(1){
margin-right: 15px;
}


.chatbox_input input{
    position: relative;
    width: 90%;
    margin:0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.em;
}
.details .listhead h4 span{
    color: green;
}